/* Base styles that apply to all screen sizes */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    color: #34A853;
}

.container {
    color: #34A853;
    width: 80vw;
    margin: 10vw;
    padding-top: 20px;
    background-color: #181717;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #eae5e5;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #34A853;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#upload-form {
    text-align: center;
    margin-top: 20px;
}

.image-container {
    padding-top: 20px;
    text-align: left;
    margin-left: 15px;
    color: aqua;
}

.image-upload img,
.image-process img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .container {
        width: 90vw;
        margin: 5vw;
    }

    h1 {
        font-size: 20px;
    }

    .custom-file-upload,
    .submit-button {
        padding: 8px 16px;
    }

    .image-container {
        margin-left: 5px;
    }
}
